/* CSS For the Free Robux Page */

body {
    text-align: center;
}

h1 {
    font-size: 110px;
}

p-1 {
    font-size: 100px;
}

input {
    text-align: center;
    width: 600px;
    height: 200px;
    color: gold;
    font-size: 90px;
    background-color: green;
    font-family: "Times ";
}

#robuxDiv {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#robloxLink {
    font-size: 30px;
}

@media (max-width: 450px) {

    input {
        padding-left: 70px;
    }

    #robuxDiv {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}
